<div class="navbar navbar-dark navbar-expand-sm bg-primary">
<div class='navbar-toggler' data-toggle="collapse" data-target='.navbar-nav'>
    <span class='navbar-toggler-icon'></span>
</div>
    <ul class="navbar-nav navbar-collapse collapse">
        <li class="nav-item"><a href='#' class='nav-link'>Home</a></li>
        <li class="nav-item"><a href='#' class='nav-link'>Profile</a></li>
        <li class="nav-item"><a href='#' class='nav-link'>setting</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Logout</a></li>
    </ul>
</div>